


body {
    background-color: rgb(86, 157, 204);
    text-align: center;
}

input[type="checkbox"]{
    position: sticky;
}

input[type="text"]{
    width: 300px;
    height: 30px;
    text-align: center;
    font-style: italic;
    color: rgb(70, 164, 226);
    font-size: 15px;
    align-self: center;
}

.contenedorProyecto input[type="text"]{
    width: 100px;
    height: 30px;
    text-align: center;
    font-style: italic;
    color: rgb(70, 164, 226);
    font-size: 15px;
    align-self: center;
    margin-bottom: 5%;
}

.contenedorProyecto input[type="date"]{
    width: 100px;
    height: 30px;
    text-align: center;
    align-self: center;
}

#mas {
    width: 40px;
    height: 36px;
    background-color: rgb(70, 164, 226);
    color: white;
}

#array {
    margin: 0;
    padding: 0;
}

#boton-calcular {
    margin-top: 10%;
}

.contenedorProyecto {
    background-color: white;
    width: 10%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 20px;
    border: 2px solid black;
    text-align: center;
    max-width: 50%;
    max-height: 1000px;
    overflow: hidden; 
    padding: 5px; /* Establece una altura máxima para el contenedor */ /* Agrega un poco de relleno para el contenido */ /* Oculta el desbordamiento del contenedor */
}

.contenedorProyecto h3{
    font-size: 30px; 
    overflow-y: auto; /* Permite el desplazamiento vertical dentro del contenedor */
    max-height: 100%; /* Establece una altura máxima para el contenido */
    width: calc(100% - 50px); /* Ajusta el ancho para dejar espacio para el botón de eliminar */
}

.contenedorProyecto p {
    overflow-y: auto;
    max-height: 100%;
    width: calc(100% - 50px);
}


.contenedor button {
    width: 20%;
    color:red;
    border: none; /* Elimina el borde */
    background-color: transparent; /* Hace el fondo transparente */
    padding: 0; /* Elimina el relleno */
    margin: 0; /* Elimina los márgenes */
    cursor: pointer;
    font-size: 100%;
    position: sticky;
}


p {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

#boton-calcular {
    background-color: rgb(70, 164, 226); 
    color: white;   
}

#agregarProyecto {
    width: 5%;
    height: 30px;
    align-self: center;

}

.contenedorProyecto {
    background-color: white;
    width: 30%;
    margin: 10px auto; /* Centra el contenedor en la página */
    overflow: hidden; /* Para ocultar el contenido que sobresalga del contenedor */
    transition: height 0.3s ease; /* Transición suave para cambiar la altura */
}

.contenedorTituloDescripcion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.contenedorTituloDescripcion h3, .contenedorTituloDescripcion p {
    margin: 0;
}

.contenedorProyecto.expandido {
    height: auto; /* Altura automática para mostrar todo el contenido */
}

.contenedorBuscar {
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
}

.contenedorTarea h4 {
    overflow-y: auto;
    max-height: 100%;
    width: calc(100% - 40px);
}

.contenedorTarea span {
    overflow-y: auto;
    max-height: 100%;
    width: calc(100% - 40px);
}

.contenedorTarea {
    width: 400px;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    height: 50px;
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
    max-width: 90%;
    max-height: 1000px;
    margin-bottom: 3%;
}

.contenedorTarea button {
    height: 30px;
}